---
import { Icon } from "astro-icon/components";
---

<header id="header">
  <div class="container">
    <a href="/" title="Home">Where in the world?</a>
    <button id="theme-toggle" title="Toggle Dark & Light Mode">
      <Icon id={"theme-toggle-icon"} name={"cresent"} />
      Dark Mode
    </button>
  </div>
</header>
<script>
  // theme toggle
  const getTheme = (): string => {
    const theme = localStorage.getItem("theme")
      ? localStorage.getItem("theme")
      : window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    return theme || "light";
  };
  // set theme
  document.documentElement.setAttribute("data-theme", getTheme());
  // toggle theme
  const toggleTheme = () => {
    const theme: string = getTheme() === "light" ? "dark" : "light";
    document.documentElement.setAttribute("data-theme", theme);
    localStorage.setItem("theme", theme);
  };

  const themeToggle = document.getElementById("theme-toggle");
  themeToggle?.addEventListener("click", toggleTheme);
</script>
