@use "../abstracts" as *;

.country-info-container {
  margin-block: 100px;
  @include mq("xl") {
    margin-block: 20px 40px;
  }
  #back-btn {
    margin-bottom: 50px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    width: 100px;
    height: 30px;
    box-shadow: 0 1px 3px 0px var(--shadow);
    background-color: var(--elements);
    border: none;
    cursor: pointer;
    &:hover {
      // Moved the transition to here to fix the flashing during theme change
      transition: box-shadow $delay;
      box-shadow: 0 1px 10px 3px var(--shadow);
    }
    span.arrow {
      font-size: 25px;
      line-height: 0.5;
      font-weight: bold;
    }
  }
  .country-info {
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    row-gap: 50px;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
    @include mq("sm") {
      font-size: 0.9rem;
    }
    .image {
      position: relative;
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
        box-shadow: 0 1px 3px 1px var(--shadow);
      }
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    }
    .info {
      flex: 1;
      .lists {
        margin-block: 20px 40px;
        display: flex;
        justify-content: space-between;
        @include mq("sm") {
          flex-direction: column;
          gap: 20px;
        }
        li {
          margin-bottom: 8px;
          span:first-child {
            font-weight: bold;
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
      .borders {
        display: flex;
        & > span {
          width: 160px;
        }
        ul {
          display: flex;
          gap: 5px;
          flex-wrap: wrap;
          li {
            font-size: 14px;
            width: 60px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 1px 3px 0px var(--shadow);
            position: relative;
            background-color: var(--elements);
            user-select: none;
            a {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 10;
              text-align: center;
            }
            &:hover {
              box-shadow: 0 1px 6px 1px var(--shadow);
            }
          }
        }
      }
    }
  }
}
